<html>
    <head>
        {% if title %}
        <title>{{ title }} - tickTackle</title>
        {% else %}
        <title>Welcome to tickTackle</title>
        {% endif %}
    </head>
    <body>
        {% block header %}
        <div>Hello {{ user }} <a href="{{ url_for('login') }}">Log In</a> | <a href="{{ url_for('index') }}">Home</a> <a href="{{ url_for('fixtures') }}">Fixture List</a></div>
        {% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        
    </body>
</html>